# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/LMS/frontend/.vscode/

/LMS/backend/.venv/
/LMS/backend/__pycache__

# TODO: Remove the following later while submission
/LMS/backend/instance/
/instance/

# API KEY
LMS/backend/.google_api
LMS/assets/
LMS/testing/__pycache__/
